* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Rubik', sans-serif;
	background-color: rgb(211, 211, 211);
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10% auto 10%;
}

.grid {
	width: 200px;
	height: 400px;
	background-color: #8b8b8b;
	display: flex;
	flex-wrap: wrap;
	border-radius: 8px;
}

.grid div {
	height: 20px;
	width: 20px;
	border: 1px solid rgba(211, 211, 211, 0.041);
}

.taken {
	border: none;
}

.tetromino {
	background-color: blue;
	border: 1px solid rgba(198, 227, 255, 0.103);
}

.side-panel {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}

.mini-grid {
	width: 80px;
	height: 80px;
	display: flex;
	flex-wrap: wrap;
	background-color: #8b8b8b;
	border-radius: 8px;
}

.mini-grid div {
	height: 20px;
	width: 20px;
}

.details {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-evenly;
}

.h3-score {
	display: flex;
	align-self: center;
}

span {
	margin-left: 0.3rem;
}

.instructions {
	line-height: 1.5;
	font-size: 1em;
}

.button-div {
	display: flex;
	justify-self: center;
	align-self: center;
}

button {
	margin: 10% auto;
	display: flex;
	justify-self: center;

	border: 1px solid dodgerblue;
	background-color: dodgerblue;
	padding: 5px 10px;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
	animation: linear 500ms bg-color forwards;
}

@keyframes bg-color {
	100% {
		background-color: dodgerblue;
		color: white;
		box-shadow: 1px 1px 2px gray;
	}
}
